*{ 
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* //////////////////////Navigation Bar////////////////////// */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: black;
}

.logo {
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 24px;
  display: inline block;
}

#directions,
#portfolio,
#github {
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.nav-links {
  display: flex;
  cursor: pointer;
}

li{
  padding: 10px 10px;
}

@media screen and (max-width: 1024px) {
  .nav-links{
    display: flex;
    flex-direction: column;
  }
}

.nav-links li {
  list-style: none;
  font: white;
}

.nav-links {
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: bold;
}

.dark-mode{
  background-color: black;
  color: white;
}

li:hover{
background: rgb(210,18,3);  
border-radius: 15px;
}

/* //////////////////////Modals////////////////////// */
.modal {
  display: none;
  position: fixed; 
  padding-top: 10px;
  left: 0; 
  top: 8%;
  width: 100%;
  height: 50%; 
  z-index: 1;
}

.modal-content {
  border-radius: 15px;
  background-color: grey;
  color: black;
  margin: 2% auto; 
  padding: 10px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  z-index: 1;
  width: 800px;
}

p {
 display: flex;
 justify-content: center;
 text-align: center;
 padding: 2%;
 font-size: 38px;
 font-weight: bold;
 justify-content: center;
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.btn{
  width: 4em;
  height: 2em;
  display: flex;
  text-align: center;
  position: relative;
  margin: 0 auto;
  background-color: black;
  z-index: 2;
  border-radius: 50px;
}

.close-btn, .close-winner{
  display: flex;
  align-items: center;
  margin: 0 auto;
  color: white;
  border-radius: 50px;
  cursor: pointer;
}

.winner-modal {
  display: none;
  position: fixed; 
  padding-top: 10px;
  left: 0; 
  top: 8%;
  width: 100%;
  height: 50%; 
  z-index: 1;
}

#restart {
  color: white;
  background-color: black;
  width: 100px;
  display: flex;
  text-align: center;
  justify-content: center;
}


/* //////////////////////Game Grid////////////////////// */
.memory-game {
  display: grid;
  grid-template-columns: repeat(6, 180px);
  padding: 25px;
  justify-content: center;
  grid-auto-rows: 200px;
  perspective: 1000px; 
  /* the perspective property gives depth to the card flip. */
}

.memory-card{
  margin: 1px 5px;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: 0.5s;
}

.memory-card:active {
  transform: scale(.97);
  transition: transform 0.3s;
}

/* Flip class from Javascript */
.memory-card.flip{
  transform: rotateY(180deg);
}

.front-face,
.back-face { 
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.front-face{
  transform: rotateY(180deg);
}
/* /^ cards are positioned relative to the memory card which is within the memory-game 
Where he display:flex and wrap take place */

.score{
  display: flex;
  justify-content: center;
  font-size: 65px;
  padding-top: 20px;
}

#score-text {
  padding-left: 20px;
}

/* /////////////////////Slider for Darkmode///////////////////// */

.switch {
  position: relative;
  display: block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider-round {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-round:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: black ;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider-round {
  background-color: white;
}

input:checked + .slider-round:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider-round {
  border-radius: 34px;
}

.slider-round:before {
  border-radius: 50%;
}


@keyframes slideInFromTop {
  0% {
    transform: translateY(-300%);
  }
  100% {
    transform: translateY(0);
  }
}


@media screen and (max-width: 1024px) {
  .memory-game {
  grid-template-columns: repeat(6, 140px);
  padding: 15px;
  }
}

@media screen and (max-width: 768px) {
  .burger {
    display: block;
    cursor: pointer;
  }
  .memory-game {
  grid-template-columns: repeat(6, 140px);
  padding: 15px;
  }
  .title{
    font-size: 36px;
  }
  .title-card {
    display: none;
  }
  .play-btn{
    justify-content: space-around;
  }
  ,
}

@media screen and (max-width: 700px) {
  .memory-game {
    grid-template-columns: repeat(5, 120px);
    padding: 15px;
    }
  .nav.links {
    display: none;
  }
}