body  {
  background-color: white;
  color: black; 
}

.dark-mode{
  background-color: black;
  color: white;
}

.title {
  perspective: 1000px;
}

.title-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.title:hover .title-inner {
  transform: rotateY(180deg);
}

.title-front {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}

.button-modal {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

/* .modal-button:hover, .close:hover, {
  background-color: darkgrey;
} */

.modal-fade {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
  /* position absolute is positioned relative to the browser window. LEARN MORE ABOUT THIS */
}

.modal-content {
  position: absolute;
  top: 95px;
  z-index: 1;
}

.modal-body{
  text-align: center;
  color: black;
}

.modal-header, .modal-title, .modal-footer{
  display: flex;
  justify-content: center;
  text-align: center;
  color: black;
}
.memory-game {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1em;
  grid-auto-rows: 300px;
  padding: 50px;
  perspective: 1000px; 
  /* the perspective property gives depth to the card flip. */
}

.memory-card{
  margin: 8px;
  /* /^ Margin, which lets you create space around elements is set her for space around each  card,
  We added calc to height and weight because this margin exceeds the size of the memory game box. So,
  we minus width and height from each card to make it fit again using calc. */
  /* position: relative; */
  transform: scale(1);
  transform-style: preserve-3d;
  transition: 0.5s;
}

.memory-card:active {
  transform: scale(.97);
  transition: transform 0.3s;
}
/* /^ This is a psuedoclass, which is a keyword addded t a selector that 
specifies a special state, ex hover. The transform property applies 2D or 
3D transformation to an element. This allows us to rotate, scale, move. 
Scale defines a transformation on either the X,Y, or Z axis. In 
order to transform this pseudoclass we needed to have a transform on the class itself,
which is memory-card.*/

/* Flip class from Javascript */
.memory-card.flip{
  transform: rotateY(180deg);
}

.front-face,
.back-face { 
  width: 100%;
  height: 100%;
  /* padding: 2px; */
  position: absolute;
  /* border-radius: 5px; */
  /* background: lightblue; 
  border: 2px solid black;  */
  backface-visibility: hidden;
}

.front-face{
  transform: rotateY(180deg);
}
/* /^ cards are positioned relative to the memory card which is within the memory-game 
Where he display:flex and wrap take place */

.score {
  display: flex;
  font-size: 48px;
  width: 100%;
  justify-content: center;
  padding: 80px;
  margin: auto;
}